
.song-container{
    min-height: 60vh;
    // background-color: lightblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img{
        width: 20%;
        border-radius: 50%;
        animation: rotate 20s linear infinite;
        animation-play-state: paused;
    }
    h2{
        padding: 3rem 1rem 1rem 1rem;
    }
    h3{
        font-size: 1rem;
    }
}

.play-animation{
    img{
        animation-play-state: running;
    }
}
@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
@media screen and (max-width:768px){
    .song-container{
        img{
            width: 60%;
        }
    }
}